@import url('http://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #605B56;
    height: 100px;


}

.logo {
    margin-right: auto;
    height: 250px;
    width: 250px;
    cursor: pointer;

}

.nav_links {
    link-style: none;


}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #ACC18A;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #ACC18A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #90a274;
}

.name {
    text-align: left;
    padding: 30px 120px 10px 120px;
    color: #605B56;
    font-family: "Ribeye", sans-serif;

}

.role {
    text-align: left;
    padding: 0px 0px 30px 120px;
    color: #FFFF;
    font-family: "Ribeye", sans-serif;
}

.hook {
    text-align: left;
    padding: 10px 0px 10px 120px;
    color: #ffff;
    font-family: "Ribeye", sans-serif;
    background-image:
        linear-gradient(90deg, rgb(96, 91, 86), rgb(96, 91, 86));
    width: 50vw;
    height: 10vh;
}

.box {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgb(172, 193, 138), rgb(172, 193, 138));
}


.section1 {
    padding: 60px 120px 30px 120px;
    height: 1000px;
    width: 100%;
}

.section2 {
    padding: 0px 120px 30px 120px;
    height: 1000px;
    width: 100%;
}

.section3 {
    padding: 0px 120px 30px 120px;
    height: 1000px;
    width: 100%;
}

.section1:hover {
    cursor: pointer;
}


h1 {
    text-align: center;
    padding: 3%;
    font-family: "Ribeye", sans-serif;
    text-shadow: #000000;
}


h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

p {
    padding: 30px 120px 60px 120px;

}

.happylogo {
    padding: 60px 0px 0px 120px;
    height: 260px;
    width: 600px;
    cursor: pointer;

}

.happybox {
    width: 100%;
    height: 62vh;
    background-image: linear-gradient(rgb(253, 255, 241), rgb(121, 208, 242));
}

.happyh1 {
    text-align: left;
    padding: 190px 120px 0px 120px;
    background-image:
        linear-gradient(30deg, rgb(70, 119, 131), rgb(158, 231, 183));
    background-clip: text;
    color: transparent;
    display: inline block;
    filter: drop-shadow(2.5px 2.5px #3333)
}

.happyhook {
    text-align: left;
    padding: 120px 10px 0px 10px;
    color: #605B56;
    font-family: "Ribeye", sans-serif;
}

.happyphone {
    padding: 60px 60px 60px 150px;
    height: 1000px;
    width: 700px;
}

.happyjobrole {
    text-align: left;
    padding: 60px 30px 0px 30px;
    color: #605B56;
}

.happytimeframe {
    padding: 10px 0px;
    text-align: right;
    display: inline-block;
    color: #605B56;
}

.happystatement {
    text-align: left;
    padding: 30px 20px 0px 120px;
    background-image:
        linear-gradient(0deg, rgb(186, 203, 150), rgb(70, 119, 131));
    background-clip: text;
    color: transparent;
    display: inline block;
    filter: drop-shadow(2px 2px #3333);
}

.happybackground {
    text-align: left;
    padding: 90px 0px 0px 150px;
    background-image:
        linear-gradient(0deg, rgb(186, 203, 150), rgb(70, 119, 131));
    background-clip: text;
    color: transparent;
    display: inline block;
    filter: drop-shadow(2px 2px #3333);
}

.happyvan {
    float: right;
    width: 30%;
    padding: 0px 150px 0px 0px;
    height: 600px;
    width: 700px;
}

.happychart {
    padding: 30px 0px 0px 120px;
    height: 300px;
    width: 900px;
}

.happyplan {
    text-align: left;
    padding: 60px 0px 0px 150px;
    background-image:
        linear-gradient(0deg, rgb(186, 203, 150), rgb(70, 119, 131));
    background-clip: text;
    color: transparent;
    display: inline block;
    filter: drop-shadow(2px 2px #3333);
}

.happyresearch {
    text-align: left;
    padding: 120px 0px 0px 150px;
    background-image:
        linear-gradient(0deg, rgb(186, 203, 150), rgb(70, 119, 131));
    background-clip: text;
    color: transparent;
    display: inline block;
    filter: drop-shadow(2px 2px #3333);
}

.dogfindings {
    padding: 60px 150px 60px 150px;
    height: 1000px;
    width: 100%;
}

.wireframebox1 {
    width: 100%;
    height: 98vh;
    background-image: linear-gradient(rgb(121, 208, 242), rgb(158, 233, 183));
}

.happyframe {
    padding: 50px 120px 0px 150px;
    height: 1080px;

}

.happyframeh1 {
    padding: 150px 0px 0px 120px;
    text-align: left;
    color: #FDFFF1;
    filter: drop-shadow(2px 2px #3333);

}

.wireframeinfo {
    padding: 30px 0px 0px 120px;
    text-align: left;
    color: #605B56;
    filter: drop-shadow(1px 1px #3333);
}


.richkeylogo {
    padding: 20px 0px 20px 120px;
    height: 210px;
    width: 600px;
    cursor: pointer;
}

.richbox {
    width: 100%;
    height: 66vh;
    background-image: linear-gradient(rgb(139, 152, 105), rgb(139, 152, 105));
}

.richphone {
    padding: 60px 120px 60px 150px;
    height: 1000px;
    width: 700px;
}

.richphoneopen {
    align: right;
    padding: 0px 0px 0px 0px;
    height: 1000px;
    width: 700px;

}

.richh1 {
    text-align: left;
    padding: 190px 120px 0px 120px;
    color: #303633;;
    display: inline block;
    filter: drop-shadow(2.5px 2.5px #3333)
}

.richhook {
    text-align: left;
    padding: 60px 10px 0px 10px;
    color: #303633;
    font-family: "Ribeye", sans-serif;

}

.richrole {
    text-align: left;
    padding: 60px 30px 0px 30px;
    color: #303633;
}

.richtimeframe {
    text-align: left;
    padding: 10px 30px 0px 30px;
    color: #303633;
}

.richbackground {
    text-align: left;
    padding: 60px 30px 0px 30px;
    color: #303633;
    font-family: "Ribeye", sans-serif;
}

.richbackinfo {
    text-align: left;
    padding: 10px 90px 0px 30px;
    color: #303633;
}

.richproblem {
    text-align: left;
    padding: 60px 120px 0px 120px;
    color: #303633;
    display: inline block;
    filter: drop-shadow(2.5px 2.5px #3333);
    font-family: "Ribeye", sans-serif;
}

.richstate {
    text-align: left;
    padding: 10px 90px 0px 90px;
    color: #303633
    
}

.richwireh1 {
    text-align: left;
    padding: 120px 120px 0px 120px;
    color: #303633;
    display: inline block;
    filter: drop-shadow(2.5px 2.5px #3333)
}





.souldesignslogo {
    padding: 90px 0px 0px 120px;
    height: 300px;
    width: 360px;
    cursor: pointer;
}

.soulphone {
    padding: 60px 60px 60px 150px;
    height: 1000px;
    width: 600px;
}

.soulheading {
    text-align: left;
    padding: 190px 120px 0px 120px;
    color: #272838;
}

.soulhook {
    text-align: left;
    padding: 60px 10px 0px 10px;
    color: #272838;
}

.happybackinfo {
    padding: 30px 0px 0px 150px
}



.me {
    padding: 60px 60px 30px 120px;
    height: 900px;
    width: 900px;

}

.abouttitle {
    text-align: left;
    padding: 60px 120px 0px 120px;
    color: #605B56;

}

.experience {
    text-align: left;
    padding: 60px 120px 0px 120px;
    color: #605B56;
}

.hobbies {
    text-align: left;
    padding: 0px 10px 0px 120px;
    color: #605B56;
}